@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Outfit';
}
body, #root {
    background: #f3f3f3;
}
.m-0-auto {
    margin: 0 auto;
}
.orange {
    color: #EC6565
}